.media {
	display: flex;
}
.media a {
	width: 1.3rem;
	justify-content: center;
	text-align: center;
	margin: .3rem;
	border: 1px solid white;
	border-radius: 50%;
	padding: .7rem;
	color: white;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	display: flex;
}

.media .active:hover img {
	filter: brightness(0);
}
.active img {
	width: 1.3rem;
	filter:contrast(0);
}
.media .active {
	display: flex;
	gap: 4px;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: auto;
	border-radius: 40px;
	background-color: white;
  	color: black;
}