@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
	margin: 0;
	/* overflow-x: hidden; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
	border: 1px solid red;
    & > * {
        border: 1px solid green;
        & > * {
            border: 1px solid white;
        }
    }
}
