@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

:root {
	font-family: Courier Prime;
	--primary-color: white;
	--secondary-color: #91C8E4;
	--header-color: #749BC2;
	--text-color: #4682A9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
    padding: 0;
}

body {
	overflow-x: hidden;
	background-color: var(--primary-color);
}

.debug {
	border: 1px solid red;
	& > * {
		border: 1px solid green;
		& > * {
			border: 1px solid blue;
		}
	}
}